<template>
  <div>
    <v-container v-if="$root.displayAll">
      <div class="grey lighten-3 pa-4 mb-2 outlined">
        <v-card-title class>
          {{activeBusiness.name}}
          <v-spacer></v-spacer>
          <v-btn outlined small @click="exportAsPdf">
            <v-icon small class="pr-2">fas fa-file-export</v-icon>Export
          </v-btn>
        </v-card-title>
        <v-card-text class="black--text py-0">
          <v-row>
            <v-col>
              <span class="mr-3">
                <v-icon small class="mr-2">fas fa-map-marker-alt</v-icon>
                {{dashboard.totals.locations}} Stores
              </span>
              <span>
                <v-icon small class="mr-2">fas fa-tablet d-inline</v-icon>
                {{dashboard.totals.assets}} Assets
              </span>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="3" class="text-right py-0 mt-0" xs12 sm4 md3 lg4 xl4>
              <!-- <span>
                <v-icon>event</v-icon>
                {{currentDateTime}}
              </span>-->
              <v-menu
                :close-on-content-click="false"
                :close-on-click="true"
                v-model="datemenu"
                transition="scale-transition"
                offset-y
                :nudge-right="40"
                max-width="290px"
                min-width="290px"
                class="py-0"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-on="on"
                    label="Date"
                    v-model="dateRangeText"
                    prepend-icon="event"
                    :placeholder="date"
                    readonly
                    outlined
                    dense
                  ></v-text-field>
                </template>
                <v-date-picker class="mr-3" v-model="dates" no-title scrollable actions range>
                  <template>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <!-- <v-btn color="primary" @click="cancel">Cancel</v-btn> -->
                      <v-btn text color="success" @click="dateRangeSelect">OK</v-btn>
                    </v-card-actions>
                  </template>
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
          <v-row class="py-0">
            <!-- <v-col>
              <v-menu offset-y  :close-on-content-click="true" v-model="locationGroupmenu">
                <template #activator="{on}">
                  <v-text-field label="Choose Region" v-model="selectedRegion.name" v-on="on" readonly></v-text-field>

                </template>
                <v-list>
                  <span v-for="(group, index) in locationGroup" :key="group.id">
                    <v-menu open-on-hover offset-x :close-on-content-click="true">
                      <template #activator="{ on }">
                        <v-list>
                          <v-list-item v-on="on" @click="selectRegion(group)">
                            <v-list-item-content>
                              {{index+1}}. {{group.name}}
                            </v-list-item-content>
                          </v-list-item>
                        </v-list>
                      </template>
                      <div app class="ma-0 pa-0" scrollable :max-height="400" :min-width="300">
                        <v-card-text class="ma-0 pa-0" :min-width="300">
                          <v-list>
                        <div v-for="(location, index) in group.locations" :key="location.id">
                          <v-list-item @click="selectRegion(location)">
                            <v-list-item-content>
                              {{index +1 }}. {{location.name}}
                            </v-list-item-content>
                          </v-list-item>
                        </div>
                      </v-list>
                        </v-card-text>
                      </div>
                    </v-menu>
                  </span>
                  <v-list-item></v-list-item>
                </v-list>
              </v-menu>

            </v-col>-->
            <v-col>
              <!-- <span class="d-inline ">
                <v-btn
                text
                v-if="selectedRegion.name "
                class="success--text px-0 mt-6"
                @click="confirmSubmitDashboard"
                small
              >Confirm</v-btn>
              </span>-->
            </v-col>
            <!-- Location Selector -->
            <v-col class="py-0 text-right">
              <v-menu
                offset-y
                :close-on-content-click="false"
                v-model="locationGroupmenu"
                scrollable
              >
                <template v-slot:activator="{ on }">
                  <v-btn v-on="on" class="ml-4 text-right px-2" text>
                    {{region ? region : 'Locations'}}
                    <v-icon right>expand_more</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <span v-for="i in provinces" :key="i">
                    <v-list-item @click="selectRegion(i)">
                      <v-list-item-content :class="{'success--text': selectedRegion === i}">{{i}}</v-list-item-content>
                    </v-list-item>
                  </span>
                  <v-divider></v-divider>
                  <v-card-actions text>
                    <v-spacer></v-spacer>

                    <v-btn
                      text
                      color="success"
                      @click="locationGroupmenu = false, region = selectedRegion"
                    >Ok</v-btn>
                  </v-card-actions>
                </v-list>
              </v-menu>

              <!-- Confirm for dashboard summary -->
              <!-- <v-btn
                text
                :disabled="this.selectedLocations.length === 0 "
                class="success--text ml-2 px-0"
                @click="confirmSubmitDashboard"
                small
              >ok</v-btn>-->
            </v-col>

            <!-- <v-col class="text-right pt-0">
            <i class="fas fa-calendar-alt d-inline"></i>
            <v-card-subtitle v-if="dates.length == 0" class="d-inline">{{date}}</v-card-subtitle>
            <v-card-subtitle v-else class="d-inline">{{dates[0]}} -- {{dates[1]}}</v-card-subtitle>
            </v-col>-->
          </v-row>
          <v-row class="py-0" :min-height="20">
            <v-col class="text-right py-0"></v-col>
            <v-spacer></v-spacer>
            <v-col class="text-right py-0">
              <v-btn small text color="success" @click="submitDashboard">Confirm</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </div>
      <div id="export" ref="export">
        <div flat app>
          <gmap-map
            :center="center"
            :zoom="5"
            :options="mapOptions"
            map-type-id="terrain"
            style="height: 350px;"
            ref="mymap"
            id="mymap"
          >
            <!-- <gmap-polygon :paths="paths" ref="polygon" :editable="true" :draggable="true" @paths_changed="updateEdited($event)"
            :options="{storkeColor: '#f8f8f8'}"></gmap-polygon>-->
            <GmapMarker
              :key="index"
              v-for="(location, index) in groupedLocations"
              :position="{'lat': location.address.latitude, 'lng': location.address.longitude}"
              :icon="'https://maps.google.com/mapfiles/ms/icons/green-dot.png'"
              :clickable="true"
              @click="openWindow(location)"
            />
            <GmapInfoWindow
              @closeclick="window_open=false"
              :opened="window_open"
              :position="infowindow"
              :options="{
              pixelOffset: {
                width: 0,
                height: -35
              }
            }"
            >
              <strong>{{selectedDeviceLocation.name}}</strong>
              <br />
              {{selectedDeviceLocation.address.address_line_1}}, {{selectedDeviceLocation.address.city}}
            </GmapInfoWindow>
          </gmap-map>
          <!-- <button @click="loadControls">Load Drawing Controls</button>
          <button @click="displayGeoJson">Display GeoJSON Data</button>-->
        </div>
        <!-- <div :max-width="200" class="cardMap pr-4">
            <div>
              <span class="smartRackColor"></span>
              <span class="d-inline-block subtitle-1 px-0 pt-2">Smart Racks</span>
              <v-list-item-subtitle
                class="ml-10 grey--text"
              ></v-list-item-subtitle>
            </div>
            <div>
              <span class="fridgesColor"></span>
              <span class="d-inline-block subtitle-1 px-0 pt-2">Fridges</span>
              <v-list-item-subtitle class="ml-10 grey--text"></v-list-item-subtitle>
            </div>
            <div>
              <span class="LiftnLearnColor"></span>
              <span class="d-inline-block subtitle-1 px-0 pt-2">Lift & Learn</span>
              <v-list-item-subtitle class="ml-10 grey--text"></v-list-item-subtitle>
            </div>
        </div>-->
        <div class="mt-4 grey lighten-3">
          <v-card-title>Assets</v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="6" class="body-2">
                <div app :height="300" class="pa-3 mx-auto outlined" width="100%">
                  <div style="height: 65px;">
                    <p class="mb-0 body-2 font-weight-bold">Asset Locator</p>
                    <!-- <small class="caption">Asset GPS matches store location</small> -->
                  </div>
                  <div>
                    <asset-locator class="px-2"></asset-locator>
                  </div>
                </div>
              </v-col>
              <v-col cols="6">
                <div app :height="300" class="pa-3 mx-auto outlined" width="100%">
                  <div style="height: 65px;">
                    <p class="mb-0 body-2 font-weight-bold">Asset Status</p>
                    <!-- <small>Asset online or offline</small> -->
                  </div>
                  <div>
                    <asset-status class="px-2"></asset-status>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </div>
        <div class="mt-2 pt-4 grey lighten-3">
          <p class="headline px-5">National Traffic Patterns</p>
          <v-row row class="px-4 my-3">
            <v-col cols="4" xs6 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Hourly Traffic</v-card-title>
                <br />
                <!-- <v-card-subtitle>Daily Traffic Count</v-card-subtitle> -->
                <v-card-text>
                  <ntp-hourlychart :height="270"></ntp-hourlychart>
                </v-card-text>
              </div>
            </v-col>

            <v-col cols="4" xs6 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Daily Traffic</v-card-title>
                <br />
                <!-- <v-card-subtitle>Daily Traffic Count</v-card-subtitle> -->
                <v-card-text>
                  <ntp-barchart :height="270"></ntp-barchart>
                </v-card-text>
              </div>
            </v-col>

            <v-col cols="4" xs6 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Weekly Traffic</v-card-title>
                <br />
                <!-- <v-card-subtitle>Weekly Traffic</v-card-subtitle> -->
                <v-card-text>
                  <ntp-linechart :height="270"></ntp-linechart>
                </v-card-text>
              </div>
            </v-col>
          </v-row>
          <p class="headline px-5 my-6">{{region ? region : 'British Columbia'}} Traffic Patterns</p>
          <v-row row class="px-4 my-3">
            <v-col cols="4" xs12 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Hourly Traffic</v-card-title>
                <br />
                <!-- <v-card-subtitle>Daily Traffic Count</v-card-subtitle> -->
                <v-card-text>
                  <rtp-hourlychart :height="270"></rtp-hourlychart>
                </v-card-text>
              </div>
            </v-col>
            <v-col cols="4" xs12 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Daily Traffic</v-card-title>
                <br />
                <!-- <v-card-subtitle>Daily Traffic Count</v-card-subtitle> -->
                <v-card-text>
                  <rtp-barchart :height="270"></rtp-barchart>
                </v-card-text>
              </div>
            </v-col>

            <v-col cols="4" xs12 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Weekly Traffic</v-card-title>
                <br />
                <!-- <v-card-subtitle>Weekly Traffic</v-card-subtitle> -->
                <v-card-text>
                  <rtp-linechart :height="270"></rtp-linechart>
                </v-card-text>
              </div>
            </v-col>
          </v-row>
        </div>

        <div width="100%" class="mx-auto mt-4 grey lighten-3 outlined">
          <v-card-title flat>Campaign Summary</v-card-title>
          <v-card-text>
            <v-row>
              <v-col :min-height="400" class="pl-3">
                <v-data-table
                  :headers="headers"
                  :items="dashboard.campaign_summary"
                  :footer-props="{
                  'items-per-page-options': [10, 20, 30, 40, 50]
                }"
                  :items-per-page="10"
                  :hide-default-footer="false"
                >
                  <template v-slot:body="{ items }">
                    <tbody>
                      <tr v-for="(i, index) in items" :key="index">
                        <td>{{i.name}}</td>
                        <!-- <td class="text-center">{{i.start_date}}</td>
                        <td class="text-center">{{i.end_date}}</td>-->
                        <td class="text-center">{{i.content_type}}</td>
                        <td class="text-center">{{i.avg_run_time}}</td>
                        <td class="text-center">{{i.dwell_time}}</td>
                      </tr>
                    </tbody>
                  </template>
                </v-data-table>
              </v-col>
            </v-row>
            <v-row>
              <v-col v-if="salesData.length > 0">
                <v-data-table
                  :headers="salesHeaders"
                  :items="salesData"
                  :footer-props="{
                  'items-per-page-options': [3, 8, 10, 25, 50]
                }"
                  :items-per-page="3"
                >
                  <template v-slot:body="{ items }">
                    <tbody>
                      <template v-for="(i, index) in items">
                        <tr :key="index" class="grey lighten-4">
                          <td class="text-center">
                            <strong>{{i.product_name}}</strong>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr v-for="j in i.sales" :key="(index, j.id)" class="grey lighten-5">
                          <td></td>
                          <td class="text-center">{{j.year}} / {{j.month}}</td>
                          <td class="text-center">{{j.qty_sold}}</td>
                          <td class="text-center">{{j.yearly_percentage_change}}</td>
                          <td class="text-center">{{j.monthly_percentage_change}}</td>
                        </tr>
                      </template>
                    </tbody>
                  </template>
                </v-data-table>
              </v-col>
              <v-col v-else>
                <p class="title px-5 pt-6 grey--text">No available sales data</p>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <div min-height="209" flat class="outlined">
                  <v-card-title class="text-center">National Dwell Time</v-card-title>
                  <!-- <v-card-subtitle class="pb-2"> <span class="title">National</span> <br/> Average time </v-card-subtitle> -->
                  <v-divider></v-divider>
                  <v-card-text class="text-center">
                    <span class="display-1 pt-4">{{dashboard.national_data.dwell_avg}}</span>
                    <br />seconds
                  </v-card-text>
                </div>
              </v-col>
              <v-col cols="6">
                <div min-height="209" class="outlined">
                  <v-card-title class="text-center">{{region }} Dwell Time</v-card-title>
                  <!-- <v-card-subtitle class="pb-2"><span class="title">{{region ? region : 'British Columbia'}}</span> <br/> Average time </v-card-subtitle> -->
                  <v-divider></v-divider>
                  <v-card-text class="text-center">
                    <span class="display-1 pt-4">{{dashboard.dwell_avg}}</span>
                    <br />seconds
                  </v-card-text>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutation } from 'vuex'
import moment from 'moment'
import { EventBus } from '@/event-bus'

// Import chart
import AssetLocator from './Charts/Asset Locator/component.assetLocator'
import AssetStatus from './Charts/Asset Status/component.assetStatus'
import NtpLinechart from './Charts/National Traffic Patterns/line_chart.NTP'
import NtpBarchart from './Charts/National Traffic Patterns/bar_chart.NTP'
import NtpHourlychart from './Charts/National Traffic Patterns/hourly_chart.NTP'

import RtpLinechart from './Charts/Regional Traffic Patterns/line_chart.RTP'
import RtpBarchart from './Charts/Regional Traffic Patterns/bar_chart.RTP'
import RtpHourlychart from './Charts/Regional Traffic Patterns/hourly_chart.RTP'

import pdfhelper from './export.js'

export default {
  name: 'Overview',
  data () {
    return {
      mapOptions: {
        disableDefaultUI: true
      },
      window_open: false,
      infowindow: null,
      info_marker: null,
      selectedDeviceLocation: {
        address: { address_line_1: '', city: '' },
        name: ''
      },
      selectedLocations: [],
      locationGroupmenu: false,
      locationMenu: false,
      datemenu: false,
      dates: [],
      region: '',

      selectedRegion: '',
      provinces: [
        'British Columbia',
        'Saskatchewan',
        'Newfoundland and Labrador',
        'Alberta'
      ],
      headers: [
        { text: 'Name', value: 'name' },
        // { text: 'Start Date', value: 'start_date', align: 'center' },
        // { text: 'End Date', value: 'end_date', align: 'center' },
        { text: 'Content', value: 'content_type', align: 'center' },
        { text: 'Average Runtime', value: 'avg_run_time', align: 'center' },
        { text: 'Dwell Time', value: 'dwell_time', align: 'center' }
      ],
      salesHeaders: [
        {
          text: 'Product',
          value: 'product_name',
          align: 'center',
          width: '205'
        },
        { text: 'Year / Month', value: 'date', align: 'center' },
        { text: 'Quantity Sold', value: 'qty_sold', align: 'center' },
        {
          text: '% change (previous year)',
          value: 'yearly_percentage_change',
          align: 'center'
        },
        {
          text: '% change (previous month)',
          value: 'monthly_percentage_change',
          align: 'center'
        }
      ],
      edited: null,
      paths: [
        [
          { lat: 47.587682, lng: -52.707063 },
          { lat: 47.6174878, lng: -54.7195054 },
          { lat: 48.949668, lng: -54.873722471875 },
          { lat: 47.587682, lng: -52.707063 }
        ]
      ]
    }
  },
  components: {
    AssetLocator,
    AssetStatus,
    NtpLinechart,
    NtpBarchart,
    NtpHourlychart,
    RtpLinechart,
    RtpBarchart,
    RtpHourlychart
  },
  computed: {
    salesData: {
      get () {
        return this.salesForManyLocations
      },
      set (val) {
        return val
      }
    },

    currentDateTime () {
      let a = moment().format(`ddd, MMM DD @ hh:mm a`)
      return a
    },
    center () {
      if (this.groupedLocations) {
        return {
          lat: this.groupedLocations[0].address.latitude,
          lng: this.groupedLocations[0].address.longitude
        }
      }
      return { lat: 43.7524424, lng: -79.5421229 }
    },

    dateRangeText () {
      return this.dates.join(' to ')
    },
    date () {
      // const d = new Date()
      const fullDate = moment().format(`ddd, MMM DD @ hh:mm a`)
      return fullDate
    },
    ...mapGetters({
      activeBusiness: 'auth/activeBusiness',
      // locations: 'dashboard/locations',
      // // locationGroup: 'dashboard/locationGroup',
      // total_locations: 'dashboard/total_locations_count',
      // total_assets: 'dashboard/total_assets_count',
      groupedLocations: 'locations/locations',
      national: 'dashboard/national',
      dashboard: 'dashboard/dashboard',
      salesForManyLocations: 'dashboard/salesForManyLocations'
    })
  },
  async mounted () {
    this.spinner(true)
    await this.mountingMethod()

    EventBus.$on('fetch-mounting-methods', async () => {
      try {
        console.log('emitting')
        await this.mountingMethod()
      } catch (err) {
        console.log(err)
        this.snackbar({ text: err.response.data.msg })
      }
    })

    this.spinner(false)
  },
  methods: {
    async mountingMethod () {
      console.log('mounting')

      this.$root.displayAll = false
      this.selectedRegion = 'Newfoundland and Labrador'
      this.region = 'Newfoundland and Labrador'
      this.dates = ['2019-11-01', '2019-12-31']
      try {
        let value = {
          group_by: 'province',
          group_name: 'Newfoundland and Labrador',
          business_uuid: this.activeBusiness.uuid
        }
        await this.fetchGroupedLocations(value)
      } catch (error) {
        console.log(error)
        this.spinner(false)
        this.snackbar({ text: 'No locations found' })
      }
      const locationIds = this.groupedLocations
        ? this.groupedLocations.map(el => el.id)
        : []
      let value = {
        startDate: '2019-01-11',
        endDate: '2019-12-31',
        data: {
          location_ids: locationIds,
          business_uuid: this.activeBusiness.uuid
        }
      }
      try {
        await this.fetchDashboardSummary(value)
        this.$root.displayAll = true
      } catch (error) {
        console.log(error)
        console.log(error.response)
        this.snackbar({ text: 'Failed' })
      }
      try {
        this.salesData = []
        let payload = await this.fetchSalesData(value)
        this.salesData = payload
        console.log(payload)
      } catch (error) {
        console.log(error)
        this.snackbar({ text: error.response.data.msg })
      }
      this.spinner(false)

      // this.$refs.mymap.$mapObject.data.setControls(['Polygon'])
    },
    loadControls () {
      this.$refs.mymap.$mapObject.data.setControls(['Polygon'])

      this.$refs.mymap.$mapObject.data.setStyle(() => {
        return {
          visible: true,
          editable: true,
          draggable: true
        }
      })
    },
    displayGeoJson () {
      this.$refs.mymap.$mapObject.data.toGeoJson(geojson => {
        console.log('geojson', geojson.features[0].geometry.coordinates)
        this.geojson = geojson.features[0].geometry.coordinates
      })
      console.log(this.$refs.mymap)
      // console.log(this.$refs.polygon)

      // this.$refs.polygon.$polygonObject.setEditable(true)
      // console.log(this.$refs.polygon.$polygonObject)
    },

    remove () {},

    updateEdited (mvcArray) {
      let paths = []
      for (let i = 0; i < mvcArray.getLength(); i++) {
        let path = []
        for (let j = 0; j < mvcArray.getAt(i).getLength(); j++) {
          let point = mvcArray.getAt(i).getAt(j)
          path.push({ lat: point.lat(), lng: point.lng() })
        }
        paths.push(path)
      }
      this.edited = paths
      console.log('mvcArray', mvcArray)
    },

    openWindow (marker) {
      this.window_open = true
      // this.infowindow = marker.position
      this.infowindow = {
        lat: marker.address.latitude,
        lng: marker.address.longitude
      }
      this.selectedDeviceLocation = marker
      console.log(marker)
    },
    // getCheckboxStatus (locationGroup) {
    //   let returnValue = true
    //   locationGroup.locations.forEach(i => {
    //     if (!this.selectedLocations.includes(i.id)) {
    //       returnValue = false
    //     }
    //   })
    //   return returnValue
    // },
    // async selectLocation (data, location) {
    //   if (this.selectedLocations.includes(data.id)) {
    //     this.selectedLocations.splice(
    //       this.selectedLocations.indexOf(data.id),
    //       1
    //     )
    //   } else {
    //     this.selectedLocations.push(data.id)
    //   }
    // },
    // async confirmSubmitDashboard () {
    //   this.spinner(true)
    //   try {
    //     this.snackbar({ text: 'Dashboard Updated' })
    //     this.spinner(false)
    //   } catch (error) {
    //     console.log(error.response)
    //     this.spinner(false)
    //     this.snackbar({ text: error.response.data.msg })
    //   }
    // },
    // async selectLocationGroup (data) {
    //   if (!data.selectedAll) {
    //     data.locations.forEach(i => {
    //       if (!this.selectedLocations.includes(i.id)) {
    //         this.selectedLocations.push(i.id)
    //       }
    //     })
    //     data.selectedAll = true
    //   } else {
    //     data.locations.forEach(i => {
    //       if (this.selectedLocations.includes(i.id)) {
    //         this.selectedLocations.splice(
    //           this.selectedLocations.indexOf(i.id),
    //           1
    //         )
    //       }
    //     })
    //     data.selectedAll = false
    //   }
    // },
    cancel () {
      this.datemenu = false
      this.dates = []
    },
    async dateRangeSelect () {
      this.dates = this.dates.length === 0 ? [this.currentDay] : this.dates

      // let startDate = this.dates.length > 0 ? this.dates[0] : this.currentDay
      // let endDate = this.dates.length > 1 ? this.dates[1] : this.dates[0]
      // let startDateArray = startDate.split('-')
      // let endDateArray = endDate.split('-')
      // let startDateNumberArray = []
      // let endDateNumberArray = []

      // startDateArray.forEach(el => {
      //   let a = Number(el)
      //   startDateNumberArray.push(a)
      // })

      // let isbefore = true
      // if (startDate !== endDate) {
      //   endDateArray.forEach(el => {
      //     let a = Number(el)
      //     endDateNumberArray.push(a)
      //   })

      //   isbefore = moment(startDateNumberArray).isBefore(endDateNumberArray)
      // }
      // if (isbefore) {
      //   this.datemenu = false
      // } else {
      //   this.snackbar({ text: 'Start date should be before end date.' })
      // }
      this.datemenu = false
      console.log('test')
      return true
    },
    selectRegion (region) {
      console.log(region)
      this.selectedRegion = region
      // this.locationGroupmenu = false
    },
    async submitDashboard () {
      this.spinner(true)
      this.locationGroupmenu = false
      try {
        let value = {
          group_by: 'province',
          group_name: this.selectedRegion
        }
        await this.fetchGroupedLocations(value)
      } catch (error) {
        console.log(error)
      }
      const locationIds = this.groupedLocations
        ? this.groupedLocations.map(el => el.id)
        : []
      let value = {
        startDate: this.dates[0],
        endDate: this.dates.length > 1 ? this.dates[1] : this.dates[0],
        data: {
          location_ids: locationIds,
          business_uuid: this.activeBusiness.uuid
        }
      }
      try {
        await this.fetchDashboardSummary(value)
        this.region = this.selectedRegion
      } catch (error) {
        console.log(error)
      }
      try {
        this.salesData = []
        let payload = await this.fetchSalesData(value)
        this.salesData = payload
      } catch (error) {
        console.log(error)
        this.snackbar({ text: error.response.data.msg })
      }
      try {
        let payload = await this.fetchSalesData(value)

        console.log(payload)
      } catch (error) {
        console.log(error)
        this.snackbar({ text: error.response.data.msg })
      }
      this.spinner(false)
      // this.dates = []
    },

    async exportAsPdf () {
      const pdfFile = this.$refs.export
      console.log(pdfFile)
      this.spinner(true)
      this.snackbar({ text: 'Exporting dashboard as pdf file' })
      try {
        await pdfhelper.toPDFWithDiv(pdfFile, `${this.selectedRegion}`)
      } catch (error) {
        console.log(error)
      }
      this.spinner(false)
    },
    ...mapActions({
      fetchDashboardSummary: 'dashboard/GetDashboardSummary',
      // fetchLocationGroup: 'dashboard/GetLocationGroup',
      fetchGroupedLocations: 'locations/GetLocations',
      // fetchTrafficDashboard: 'wifiTraffic/GetDashboardSummary'
      fetchSalesData: 'dashboard/GetSalesForManyLocations'
    })
  }
}
</script>

<style lang="scss" scoped>
.dwellTime {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-70%, -70%);
  transform: scale(2, 2);
  border: 2px solid blue;
  padding: 10px 30px;
  color: white;
  background-color: rgba(0, 0, 255, 0.726);
}

.cardMap {
  position: absolute;
  top: 12%;
  right: 25px;
}

.smartRackColor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 15px -2px 10px;
  background-color: #84cc5b;
  display: inline-block;
}

.fridgesColor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 10px;
  margin: 0 15px -2px 10px;
  background-color: #368eff;
  display: inline-block;
}
.LiftnLearnColor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 15px -2px 10px;
  background-color: #cc7f3c;
  display: inline-block;
}

.outlined {
  background-color: #fff;
}
</style>
