<template>
  <div class="container">
    <div class="grey lighten-3 pa-4 mb-2 outlined">
      <v-card-title class>
        {{activeBusiness.name}}
        <v-spacer></v-spacer>
        <!-- <v-btn outlined small @click="exportAsPdf">
            <v-icon small class="pr-2">fas fa-file-export</v-icon>Export
        </v-btn>-->
      </v-card-title>
      <v-card-text class="black--text py-0">
        <v-row>
          <!-- <v-col>
              <span class="mr-3">
                <v-icon small class="mr-2">fas fa-map-marker-alt</v-icon>
                {{dashboard.totals.locations}} Stores
              </span>
              <span>
                <v-icon small class="mr-2">fas fa-tablet d-inline</v-icon>
                {{dashboard.totals.assets}} Assets
              </span>
          </v-col>-->
          <!-- <v-spacer></v-spacer> -->
          <v-col cols="4" class="text-right py-0 pl-4 mt-0" xs12 sm4 md3 lg4 xl4>
            <v-menu
              :close-on-content-click="false"
              :close-on-click="true"
              v-model="datemenu"
              transition="scale-transition"
              offset-y
              :nudge-right="40"
              max-width="290px"
              min-width="290px"
              class="py-0"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-on="on"
                  label="Date"
                  v-model="dateRangeText"
                  append-icon="event"
                  :placeholder="date"
                  readonly
                  outlined
                  dense
                ></v-text-field>
              </template>
              <v-date-picker class="mr-3" v-model="dates" no-title scrollable actions range>
                <template>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <!-- <v-btn color="primary" @click="cancel">Cancel</v-btn> -->
                    <v-btn text color="success" @click="dateRangeSelect">OK</v-btn>
                  </v-card-actions>
                </template>
              </v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
        <v-row class="py-0">
          <v-col class="pa-0 text-left">
            <!-- <span v-for="i in regions" :key="i.id">
              <v-menu offset-y :close-on-content-click="false" v-model="i.menu" scrollable>
                <template v-slot:activator="{ on }">
                  <v-btn outlined v-on="on" class="ml-4 text-right px-2" text>
                    {{i.name ? i.name : 'Select Region'}}
                    <v-icon right>expand_more</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <span v-for="i in provinces" :key="i.id">
                    <v-list-item
                      @click="selectRegion(i)"
                      :disabled="regions.some(el => el.name === i.name)"
                    >
                      <v-list-item-content
                        :class="{'success--text': selectedRegion.id === i.id}"
                      >{{i.name}}</v-list-item-content>
                    </v-list-item>
                  </span>
                  <v-divider></v-divider>
                  <v-card-actions text>
                    <v-spacer></v-spacer>

                    <v-btn
                      text
                      color="success"
                      @click="i.menu = false, i.name = selectedRegion.name, i.id, selectedRegion = {}, i.dashboard = {}, i.locations = [], showDashboard = false"
                    >Ok</v-btn>
                  </v-card-actions>
                </v-list>
              </v-menu>
            </span>
            <v-btn text small @click="addCompareRegion" v-if="(selectedRegions.length < provinces.length)">
              <v-icon>add</v-icon>
            </v-btn> -->
            <!-- <v-menu offset-y>
                <template #activator="{ on }">
                    <v-text-field></v-text-field>
                </template>
                <v-list v-if="allDevices.devices">
                    <v-list-item-group v-model="selectedlocations" multiple>
                      <template v-for="(item, i) in allDevices.devices">
                        <v-divider v-if="!item" :key="`divider-${i}`"></v-divider>

                        <v-list-item
                          v-else
                          :key="`item-${i}`"
                          :value="item"
                          active-class="success--text text--accent-4"
                        >
                          <template v-slot:default="{ active, toggle }">
                            <v-list-item-content>
                              <v-list-item-title v-text="item.name"></v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                              <v-checkbox
                                :input-value="active"
                                :true-value="item"
                                color="success accent-4"
                                @click="toggle"
                              ></v-checkbox>
                            </v-list-item-action>
                          </template>
                        </v-list-item>
                      </template>
                    </v-list-item-group>
                  </v-list>
            </v-menu> -->
          </v-col>
        </v-row>
        <v-row class="pt-3" :min-height="20">
          <v-col class="text-left py-0">
            <v-btn small text color="success" @click="confirmCompare()">Confirm</v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </div>

    <!-- <div>
        <div v-for="(region, index) in selectedRegions" :key="index">
            <v-menu offset-y>
            <template #activator="{ on }">
                <v-btn outlined v-on="on">
                   {{ region.name}}
                    <v-icon>expand_more</v-icon>
                </v-btn>
            </template>
            <v-card>
                <v-card-text>
                    <v-list-item-group v-model="selectedLocations" multiple>
                      <template v-for="(location, i) in region.locations">
                        <v-divider v-if="!location" :key="`divider-${i}`"></v-divider>

                        <v-list-item
                          v-else
                          :key="`location-${i}`"
                          :value="location"
                          active-class="success--text text--accent-4"
                        >
                          <template v-slot:default="{ active, toggle }">
                            <v-list-item-content>
                              <v-list-item-title v-text="location.name"></v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-action>
                              <v-checkbox
                                :input-value="active"
                                :true-value="location"
                                color="success accent-4"
                                @click="toggle"
                              ></v-checkbox>
                            </v-list-item-action>
                          </template>
                        </v-list-item>
                      </template>
                    </v-list-item-group>
                </v-card-text>
            </v-card>
        </v-menu>
        </div>
    </div> -->

    <div v-if="showDashboard">
      <div v-for="region in selectedRegions"
          :key="`${region.id}-abc`"
          class="mt-4 grey lighten-3" >
        <div v-if="region.name !== 'National'">
          <p class="headline px-5 pt-3">{{region.name}} Traffic Patterns</p>
          <div>
            <!-- <v-card-title>Assets</v-card-title> -->
            <v-card-text>
              <v-row>
                <v-col cols="6" class="body-2">
                  <div app :height="300" class="pa-3 mx-auto outlined" width="100%">
                    <div style="height: 65px;">
                      <p class="mb-0 body-2 font-weight-bold">Asset Locator</p>
                      <!-- <small class="caption">Asset GPS matches store location</small> -->
                    </div>
                    <div>
                      <asset-locator :dashboard="region.dashboard"></asset-locator>
                    </div>
                  </div>
                </v-col>
                <v-col cols="6">
                  <div app :height="300" class="pa-3 mx-auto outlined" width="100%">
                    <div style="height: 65px;">
                      <p class="mb-0 body-2 font-weight-bold">Asset Status</p>
                      <!-- <small>Asset online or offline</small> -->
                    </div>
                    <div>
                      <asset-status :dashboard="region.dashboard"></asset-status>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <div v-for="region in selectedRegions" :key="`${region.id}-def`" class="mt-4 grey lighten-3">
        <div class="mt-2 pt-4 grey lighten-3">
          <p class="headline px-5 pt-3">{{region.name}} Traffic Patterns</p>
          <v-row row class="px-4 my-3">
            <v-col cols="4" xs12 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Hourly Traffic</v-card-title>
                <br />
                <v-card-text>
                  <rtp-hourlychart :dashboard="region.dashboard" :height="270"></rtp-hourlychart>
                </v-card-text>
              </div>
            </v-col>
            <v-col cols="4" xs12 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Daily Traffic</v-card-title>
                <br />
                <v-card-text>
                  <rtp-barchart :dashboard="region.dashboard" :height="270"></rtp-barchart>
                </v-card-text>
              </div>
            </v-col>

            <v-col cols="4" xs12 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Weekly Traffic</v-card-title>
                <br />
                <v-card-text>
                  <rtp-linechart :dashboard="region.dashboard" :height="270"></rtp-linechart>
                </v-card-text>
              </div>
            </v-col>
          </v-row>
        </div>
      </div>

      <div class="mt-4 grey lighten-3">
        <div width="100%" class="mx-auto mt-4 grey lighten-3 outlined">
          <v-card-title flat>Campaign Summary</v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="6" v-for="region in selectedRegions" :key="`${region.id}-jkl`">
                <div min-height="209" class="outlined">
                  <v-card-title class="text-center">{{region.name }} Dwell Time</v-card-title>
                  <!-- <v-card-subtitle class="pb-2"><span class="title">{{region ? region : 'British Columbia'}}</span> <br/> Average time </v-card-subtitle> -->
                  <v-divider></v-divider>
                  <v-card-text class="text-center">
                    <span class="display-1 pt-4">{{region.dashboard.dwell_avg}}</span>
                    <br />seconds
                  </v-card-text>
                </div>
              </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" :min-height="400" class="pl-3" v-for="region in selectedRegions" :key="`${region.id}-lmn`">
                  <div
                  v-if="region.name !== 'National'"
                  >
                      <p class="headline px-5 pt-3">{{region.name}} Campaign</p>

                  <v-data-table
                    :headers="headers"
                    :items="region.dashboard.campaign_summary"
                    :footer-props="{
                  'items-per-page-options': [10, 20, 30, 40, 50]
                }"
                    :items-per-page="10"
                    hide-default-footer
                  >
                    <template v-slot:body="{ items }">
                      <tbody>
                        <tr v-for="(i, index) in items" :key="index">
                          <td>{{i.name}}</td>
                          <!-- <td class="text-center">{{i.start_date}}</td>
                          <td class="text-center">{{i.end_date}}</td>-->
                          <td class="text-center">{{i.avg_run_time}}</td>
                          <td class="text-center">{{i.dwell_time}}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-data-table>
                  </div>
                </v-col>
            </v-row>
          </v-card-text>
        </div>
      </div>
    </div>
    <v-dialog>

    </v-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutation } from 'vuex'
import moment from 'moment'

// Charts
import AssetLocator from './Charts/Asset Locator/component.assetLocator'
import AssetStatus from './Charts/Asset Status/component.assetStatus'
import NtpLinechart from './Charts/National Traffic Patterns/line_chart.NTP'
import NtpBarchart from './Charts/National Traffic Patterns/bar_chart.NTP'
import NtpHourlychart from './Charts/National Traffic Patterns/hourly_chart.NTP'

import RtpLinechart from './Charts/Regional Traffic Patterns/line_chart.RTP'
import RtpBarchart from './Charts/Regional Traffic Patterns/bar_chart.RTP'
import RtpHourlychart from './Charts/Regional Traffic Patterns/hourly_chart.RTP'

export default {
  data () {
    return {
      datemenu: false,
      dates: [],

      locationGroupmenu: false,
      locationMenu: false,

      region: '',
      regions: [{ name: '', id: 1, menu: false, locations: [], dashboard: {} }],
      selectedRegions: [],

      selectedRegion: '',

      headers: [
        { text: 'Name', value: 'name' },
        // { text: 'Start Date', value: 'start_date', align: 'center' },
        // { text: 'End Date', value: 'end_date', align: 'center' },
        { text: 'Average Runtime', value: 'avg_run_time', align: 'center' },
        { text: 'Dwell Time', value: 'dwell_time', align: 'center' }
      ],

      showDashboard: false,

      selectedLocations: []
    }
  },
  components: {
    AssetLocator,
    AssetStatus,
    NtpLinechart,
    NtpBarchart,
    NtpHourlychart,
    RtpLinechart,
    RtpBarchart,
    RtpHourlychart
  },

  computed: {
    dateRangeText () {
      return this.dates.join(' to ')
    },
    date () {
      // const d = new Date()
      const fullDate = moment().format(`ddd, MMM DD @ hh:mm a`)
      return fullDate
    },

    provinces () {
      let a = [
        // { name: 'National', id: 1 },
        { name: 'British Columbia', id: 2 },
        { name: 'Saskatchewan', id: 3 },
        { name: 'Newfoundland and Labrador', id: 4 },
        { name: 'Alberta', id: 5 }
      ]
      return a
    },
    ...mapGetters({
      activeBusiness: 'auth/activeBusiness',
      groupedLocations: 'locations/locations',
      dashboard: 'dashboard/dashboard'
    })
  },
  async mounted () {
    this.dates = ['2019-11-11', '2019-12-31']
    for (let [index, region] of this.provinces.entries()) {
      try {
        let value = {
          group_by: 'province',
          group_name: region.name
        }
        console.log(value)
        await this.fetchGroupedLocations(value)
        this.provinces[index + 1].locations = [...this.groupedLocations]

        //   Object.assign(this.selectedRegions[index].locations, this.groupedLocations)
      } catch (error) {
        console.log(error)
      }
    }
  },

  methods: {
    ...mapActions({
      fetchDashboardSummary: 'dashboard/GetDashboardSummary',
      // fetchLocationGroup: 'dashboard/GetLocationGroup',
      fetchGroupedLocations: 'locations/GetLocations'
      // fetchTrafficDashboard: 'wifiTraffic/GetDashboardSummary'
    }),
    async dateRangeSelect () {
      this.dates = this.dates.length === 0 ? [this.currentDay] : this.dates
      this.datemenu = false
      return true
    },
    selectRegion (region) {
      console.log(region)
      this.selectedRegion = region
      // this.locationGroupmenu = false
    },

    addCompareRegion () {
      this.regions.push({
        name: '',
        id: this.regions[this.regions.length - 1].id + 1,
        menu: false
      })
    },

    async confirmCompare () {
      this.spinner(true)
      this.showDashboard = false
      this.selectedRegions = [...this.regions]
      let showDashboard = false
      for (let [index, region] of this.selectedRegions.entries()) {
        if (region.name) {
          let name = region.name
          if (name === 'National') region.name = 'Newfoundland and Labrador'
          try {
            let value = {
              group_by: 'province',
              group_name: region.name
            }
            console.log(value)
            await this.fetchGroupedLocations(value)
            this.selectedRegions[index].locations = [...this.groupedLocations]

            //   Object.assign(this.selectedRegions[index].locations, this.groupedLocations)
          } catch (error) {
            console.log(error)
          }
          if (name === 'National') region.name = 'National'
          try {
            const locationIds = region.locations
              ? region.locations.map(el => el.id)
              : []
            let value = {
              startDate: this.dates[0],
              endDate: this.dates.length > 1 ? this.dates[1] : this.dates[0],
              data: {
                location_ids: locationIds
              }
            }
            await this.fetchDashboardSummary(value)
            this.selectedRegions[index].dashboard = {}

            if (region.name === 'National') {
              Object.assign(
                this.selectedRegions[index].dashboard,
                this.dashboard.national_data
              )
              this.selectedRegions[index].name = 'National'
              const {
                hourlyDataSummary: hourly,
                dailyDataSummary: daily,
                weeklyDataSummary: weekly,
                monthlyDataSummary: monthly,
                // eslint-disable-next-line camelcase
                dwell_avg
              } = this.selectedRegions[index].dashboard
              this.selectedRegions[index].dashboard = {
                hourly,
                daily,
                weekly,
                monthly,
                dwell_avg
              }
            } else {
              Object.assign(
                this.selectedRegions[index].dashboard,
                this.dashboard
              )
            }
            showDashboard = true
            //   this.region = this.selectedRegion
          } catch (error) {
            console.log(error)
            showDashboard = false
          }
        } else {
          this.selectedRegions.splice(index, 1)
        }
      }
      this.showDashboard = showDashboard
      this.spinner(false)
    }
  }
}
</script>

<style>
.outlined {
  background-color: #fff;
}
</style>
