<template>
  <v-navigation-drawer
    color="primary"
    :value="open"
    app
    fixed
    persistent
    mobile-break-point="991"
    width="260"
  >
    <v-layout class tag="v-list" column>
      <v-list-item  class="mt-2 py-2">
        <v-list-item-title class="title text-xs-center">
          <img class="branding-logo" :src="vg_activeBusinessBrandingAndLogo.logo" />
        </v-list-item-title>
      </v-list-item>
      <v-divider class="mt-2"/>
      <v-list class="py-0">
        <span v-for="(item, index) in allApplications" :key="`${item.name}_${index}`">
          <v-hover v-slot:default="{ hover }">
            <v-list-item
              :to="item.path"
              active-class="accent lighten-1"
              class="left-nav-item"
              :class="{'accent': hover}"
            >
              <v-list-item-avatar class="text-center">
                <v-icon color="secondary" class="ml-3 md-icon">{{ item.meta.nav.icon }}</v-icon>
              </v-list-item-avatar>
              <v-list-item-title class="secondary--text">{{ item.meta.nav.name }}</v-list-item-title>
            </v-list-item>
          </v-hover>
        </span>
      </v-list>
    </v-layout>
  </v-navigation-drawer>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    open: {
      default: true,
      required: true
    }
  },
  methods: {
  },
  computed: {
    ...mapGetters({
      vg_activeBusinessBrandingAndLogo: 'auth/activeBusinessBrandingAndLogo'
    }),
    allApplications () {
      let allRoutes = this.$router.options.routes
      return allRoutes.filter((route) => {
        return route.meta && route.meta.nav && route.meta.nav.display
      })
    }
  }
}
</script>
<style scoped>
.branding-logo {
  max-width: 80%;
  height: 60px;
  width: auto;
}
</style>
