<template>
  <v-app-bar class app>
    <v-app-bar-nav-icon @click.prevent="$emit('left-nav-toggle')"></v-app-bar-nav-icon>
    <v-toolbar-title class="text-xs-right">{{$route.meta.nav?$route.meta.nav.name : ''}}</v-toolbar-title>
    <v-spacer></v-spacer>

    <v-toolbar-title class="subheading pr-3">
      <span class="color--grey">Welcome</span>
      {{vg_user.first_name}} {{vg_user.last_name}}
    </v-toolbar-title>

    <v-menu
      :close-on-content-click="true"
      :nudge-bottom="50"
      :nudge-left="50"
      :nudge-width="100"
      attach
      max-height="400"
      class="top-nav-select-business"
    >
      <template v-slot:activator="{ on }">
        <v-btn elevation="0" color="primary" v-on="on">
          <i class="fas fa-user-circle"></i>
          &nbsp; {{vg_activeBusiness.name}}
        </v-btn>
      </template>
      <v-card>
        <v-list>
          <v-list-item @click.prevent.stop="logout">
            <v-list-item-action>
              <v-icon light>exit_to_app</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider></v-divider>
          <template v-for="(business, index) in vg_businessesList">
            <v-list-item :key="index" ripple @click="switchBusiness(business)">
              <v-list-item-action v-if="vg_activeBusiness.id === business.id">
                <v-icon color="primary">done</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ business.name }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
        <v-divider></v-divider>
      </v-card>
    </v-menu>
    <!-- <v-btn icon @click.stop="$emit('right-nav-toggle')">
      <v-icon>more_vert</v-icon>
    </v-btn> -->
  </v-app-bar>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { EventBus } from '@/event-bus'

export default {
  data: () => {
    return {
    }
  },
  methods: {
    ...mapMutations({
      vm_setUser: 'auth/SET_USER',
      vm_setBusinessesList: 'auth/SET_BUSINESSES_LIST',
      vm_clearState: 'CLEAR_STATE'
    }),
    ...mapActions({
      va_setActiveBusiness: 'auth/setActiveBusiness',
      va_setActiveBusinessBranding: 'auth/setActiveBusinessBranding',
      va_clearAuthState: 'auth/clearState',
      va_logout: 'auth/logOut',
      fetchDashboardSummary: 'dashboard/GetDashboardSummary',
      fetchGroupedLocations: 'locations/GetLocations'
    }),
    async logout () {
      try {
        await this.va_logout()
        this.va_clearAuthState()
        this.$router.push({ name: 'Login' })
        this.snackbar({ text: 'Logout successful' })
      } catch (error) {
        console.log(error)
        this.snackbar({ text: 'Logout successful' })
      }
    },
    async switchBusiness (business) {
      this.spinner(true)
      const user = this.vg_user
      const businessesList = this.vg_businessesList
      try {
        this.$root.displayAll = false
        await this.vm_clearState()
        console.log(this.$store.getters)
        await this.vm_setUser(user)
        await this.vm_setBusinessesList(businessesList)
        await this.va_setActiveBusiness(business.id)
      } catch (error) {
        this.spinner(false)
        console.log(error)
        return this.snackbar({ text: error.response.data.msg })
      }
      try {
        await this.va_setActiveBusinessBranding(business.id)
      } catch (error) {
        this.spinner(false)
        console.log(error)
        return this.snackbar({ text: error.response.data.msg })
      }
      this.$vuetify.theme.themes.light.primary = this.vg_activeBusinessBrandingAndLogo.primary
      this.$vuetify.theme.themes.light.secondary = this.vg_activeBusinessBrandingAndLogo.secondary
      this.$vuetify.theme.themes.light.accent = this.vg_activeBusinessBrandingAndLogo.accent
      this.spinner(true)
      if (this.$route.name !== 'Overview') {
        this.$router.push({ name: 'Overview' })
      }
      EventBus.$emit('fetch-mounting-methods')

      // try {

      //   this.selectedRegion = 'Newfoundland and Labrador'
      //   this.region = 'Newfoundland and Labrador'
      //   this.dates = ['2019-01-11', '2019-12-31']
      //   try {
      //     let value = {
      //       group_by: 'province',
      //       group_name: 'Newfoundland and Labrador',
      //       business_uuid: this.vg_activeBusiness.uuid
      //     }
      //     await this.fetchGroupedLocations(value)
      //   } catch (error) {
      //     console.log(error)
      //     this.spinner(false)
      //     this.snackbar({ text: 'No locations found' })
      //   }
      //   const locationIds = this.groupedLocations
      //     ? this.groupedLocations.map(el => el.id)
      //     : []
      //   try {
      //     let value = {
      //       startDate: '2019-11-11',
      //       endDate: '2019-12-31',
      //       data: {
      //         location_ids: locationIds,
      //         business_uuid: this.vg_activeBusiness.uuid
      //       }
      //     }
      //     await this.fetchDashboardSummary(value)
      //     this.$root.displayAll = true
      //   } catch (error) {
      //     console.log(error)
      //     console.log(error.response)
      //     this.snackbar({ text: 'Failed' })
      //     this.spinner(false)
      //   }
      //   this.spinner(false)
      // } catch (error) {
      //   console.log(error)
      // }
      this.spinner(false)
    }
  },
  computed: {
    ...mapGetters({
      vg_user: 'auth/user',
      vg_businessesList: 'auth/businessesList',
      vg_activeBusiness: 'auth/activeBusiness',
      vg_activeBusinessBrandingAndLogo: 'auth/activeBusinessBrandingAndLogo',
      groupedLocations: 'locations/locations'

    })
  }
}
</script>
