<template>
  <div>
    <v-row>
      <v-col cols="6">
        <v-row class="mt-4 body-2">
          <v-col class="pt-0 text-right" cols="2">
            <span class="onlineColor"></span>
          </v-col>
          <v-col class="pt-0">
            <!-- <div class="body-2"> -->
            <span class="d-inline">Online</span>
            <div class="countPercentage">
              <span
                class="d-inline-block"
              >{{this.dashboard.assets.online ? this.dashboard.assets.online : 0}} ({{this.dashboard.assets.online_percentage ? this.dashboard.assets.online_percentage : 0}}%)</span>
              <!-- <span class="d-inline-block">65 (34%)</span> -->
            </div>
          </v-col>
        </v-row>
        <v-row class="body-2">
          <v-col class="pt-0 text-right" cols="2">
            <span class="offlineUnderColor"></span>
          </v-col>
          <v-col class="pt-0">
            <span class="d-inline">Offline under 24 hrs</span>
            <div class="countPercentage">
              <span
                class="d-inline-block"
              >{{this.dashboard.assets.offline}} ({{this.dashboard.assets.offline_percentage ? this.dashboard.assets.offline_percentage : 0 }}%)</span>
            </div>
          </v-col>
        </v-row>
        <v-row class="body-2">
          <v-col class="pt-0 text-right" cols="2">
            <span class="offlineOverColor"></span>
          </v-col>
          <v-col class="pt-0">
            <span class="d-inline">Offline over 24 hrs</span>
            <div class="countPercentage">
              <span
                class="d-inline-block"
              >{{this.dashboard.assets.offline_over_24}} ({{this.dashboard.assets.offline_over_24_percentage ? this.dashboard.assets.offline_over_24_percentage : 0}}%)</span>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="6">
        <asset-status :dashboard="dashboard" :height="180"></asset-status>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import AssetStatus from './chart.assetStatus'
import { mapGetters } from 'vuex'

export default {
  components: {
    AssetStatus
  },
  props: {
    dashboard: {
      required: true
    }
  },
  computed: {
    ...mapGetters({
      asset_status: 'dashboard/asset_status'
    })
  }
}
</script>

<style>
.countPercentage {
  color: #5c5c5c;
  margin: 0px;
  padding: 0;
}
.onlineColor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  /* margin: 0 15px -2px 10px; */
  background-color: #84cc5b;
  display: inline-block;
}

.offlineUnderColor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 10px;
  /* margin: 0 15px -2px 10px; */
  /* background-color: #fad129; */
  background-color: #fad129;
  display: inline-block;
}
.offlineOverColor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  /* margin: 0 15px -2px 10px; */
  background-color: #ea7373;
  display: inline-block;
}
</style>
