<template>
  <div class="container" v-if="$root.displayAll">
    <div class="grey lighten-3 pa-4 mb-2 outlined">
      <v-card-title class>
        {{activeBusiness.name}}
        <v-spacer></v-spacer>
        <v-btn
          outlined
          small
          @click="exportAsPdf"
          :disabled="!(baseRegionSelected && comparisionDatasets.length > 0)"
        >
          <v-icon small class="pr-2">fas fa-file-export</v-icon>Export
        </v-btn>
      </v-card-title>
      <v-card-text class="black--text py-0">
        <v-row>
          <v-col cols="4" class="text-right py-0 pl-0 mt-0" xs12 sm4 md3 lg4 xl4>
            <v-menu
              :close-on-content-click="false"
              :close-on-click="true"
              v-model="datemenu"
              transition="scale-transition"
              offset-y
              :nudge-right="40"
              max-width="290px"
              min-width="290px"
              class="py-0"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-on="on"
                  label="Select Date"
                  v-model="dateRangeText"
                  append-icon="event"
                  :placeholder="date"
                  readonly
                  outlined
                  dense
                ></v-text-field>
              </template>
              <v-date-picker class="mr-3" v-model="dates" no-title scrollable actions range>
                <template>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text color="success" @click="dateRangeSelect">OK</v-btn>
                  </v-card-actions>
                </template>
              </v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
        <v-row class="py-0">
          <v-col cols="5" class="pa-0 text-left">
            <small class>Select base region / location to compare</small>
            <v-menu offset-x :close-on-content-click="false" v-model="locationMenu" scrollable>
              <template v-slot:activator="{ on }">
                <v-btn
                  v-on="on"
                  class="text-right d-block pa-0 mx-0"
                  text
                  :class="{'success--text text--darken-2': selectedLocations.length !== 0}"
                >
                  Base Data
                  <v-icon right>expand_more</v-icon>
                </v-btn>
              </template>
              <v-list>
                <span v-for="region in provinces" :key="region.id">
                  <v-menu open-on-hover offset-x :close-on-content-click="false">
                    <template v-slot:activator="{ on }">
                      <v-list-item v-on="on" @click.native="selectLocationGroup(region)">
                        <!-- <v-list-item-icon>
                          <v-icon>chevron_left</v-icon>
                        </v-list-item-icon>-->
                        <v-list-item-title>{{ region.name }}</v-list-item-title>
                        <v-checkbox
                          color="success accent-4"
                          :value="getCheckboxStatus(region)"
                          @click="selectLocationGroup(region)"
                        ></v-checkbox>
                      </v-list-item>
                    </template>
                    <v-card app class="ma-0 pa-0" scrollable :max-height="400" :min-width="300">
                      <v-card-title>
                        <v-spacer></v-spacer>
                        <v-btn text @click.native="selectLocationGroup(region)">Select All</v-btn>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text class="ma-0 pa-0" :min-width="300">
                        <v-list>
                          <div v-for="(i, index) in region.locations" :key="index">
                            <v-list-item @click="selectLocation(i, region)">
                              <v-list-item-title>{{index +1 }}. {{ i.name }}</v-list-item-title>
                              <v-list-item-icon v-if="selectedLocations.includes(i.id)">
                                <v-icon>check</v-icon>
                              </v-list-item-icon>
                            </v-list-item>
                            <v-divider></v-divider>
                          </div>
                        </v-list>
                      </v-card-text>
                    </v-card>
                  </v-menu>
                </span>
                <v-divider></v-divider>
                <v-card-actions text>
                  <v-spacer></v-spacer>
                  <v-btn text color="success" @click="closeBaseDatasetMenu()">Ok</v-btn>

                  <v-btn
                    text
                    color="error"
                    @click="locationMenu = false; selectedLocations = [];"
                  >Cancel</v-btn>
                </v-card-actions>
              </v-list>
            </v-menu>
            <span v-if="baseDataText">{{baseDataText}}</span>
            <!-- <v-btn
              small
              text
              color="success"
              @click="selectBaseRegion()"
              class="d-block pa-0 mx-0"
            >Select</v-btn>-->
          </v-col>
          <v-col class="pa-0">
            <div v-if="baseRegionSelected">
              <div>
                <small class>Add region / locations to compare</small>
              </div>
              <span v-for="(c, index) in compare" :key="index">
                <v-menu
                  offset-x
                  :close-on-content-click="false"
                  v-model="compare[index].locationMenu"
                  scrollable
                >
                  <template v-slot:activator="{ on }">
                    <v-btn
                      v-on="on"
                      class="pa-0 mx-0 text-right"
                      text
                      :class="{'success--text text--darken-2': compare.some(el => el.selectedLocations.length !== 0)}"
                    >
                      Comparision Data
                      <v-icon right>expand_more</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <span v-for="region in provinces" :key="region.id">
                      <v-menu open-on-hover offset-x :close-on-content-click="false">
                        <template v-slot:activator="{ on }">
                          <v-list-item
                            v-on="on"
                            @click.native="selectLocationGroup2(region, index)"
                          >
                            <!-- <v-list-item-icon>
                          <v-icon>chevron_left</v-icon>
                            </v-list-item-icon>-->
                            <v-list-item-title>{{ region.name }}</v-list-item-title>
                            <v-checkbox
                              color="success accent-4"
                              :value="getCheckboxStatus2(region, index)"
                              @click="selectLocationGroup2(region, index)"
                            ></v-checkbox>
                          </v-list-item>
                        </template>
                        <v-card app class="ma-0 pa-0" scrollable :max-height="400" :min-width="300">
                          <v-card-title>
                            <v-spacer></v-spacer>
                            <v-btn
                              text
                              @click.native="selectLocationGroup2(region, index)"
                            >Select All</v-btn>
                          </v-card-title>
                          <v-divider></v-divider>
                          <v-card-text class="ma-0 pa-0" :min-width="300">
                            <v-list>
                              <div v-for="(i, j) in region.locations" :key="i.id">
                                <v-list-item @click="selectLocation2(i, region, index)">
                                  <v-list-item-title>{{j +1 }}. {{ i.name }}</v-list-item-title>
                                  <v-list-item-icon
                                    v-if="compare[index].selectedLocations.includes(i.id)"
                                  >
                                    <v-icon>check</v-icon>
                                  </v-list-item-icon>
                                </v-list-item>
                                <v-divider></v-divider>
                              </div>
                            </v-list>
                          </v-card-text>
                        </v-card>
                      </v-menu>
                    </span>
                    <v-divider></v-divider>
                    <v-card-actions text>
                      <v-spacer></v-spacer>
                      <v-btn
                        text
                        color="success"
                        @click="makeComparision(c, index)"
                      >{{comparisionDatasets.length === 0 ? 'Compare' : 'Add'}}</v-btn>

                      <v-btn
                        text
                        color="error"
                        @click="spinner(true); compare[index].locationMenu = false; compare[index].selectedLocations = []; spinner(false)"
                      >Cancel</v-btn>
                    </v-card-actions>
                  </v-list>
                </v-menu>
              </span>

              <!-- <v-btn
                color="success"
                small
                text
                class="d-block pa-0 mx-0"
                @click="makeComparision"
              >{{comparisionDatasets.length === 0 ? 'Compare' : 'Add more'}}</v-btn>-->
            </div>
            <span>{{compareDataText}}</span>
          </v-col>
        </v-row>
      </v-card-text>
    </div>

    <div class="py-3 my-" id="export" ref="export">
      <div v-if="showBaseDataset">
        <div
          class="mt-2 pt-4 grey lighten-3"
          v-if="baseDatasetDashboard.hourly && baseDatasetDashboard.daily && baseDatasetDashboard.weekly "
        >
          <p class="headline px-5 pt-3">{{baseDataText}}</p>
          <p class="headline px-5 pt-3">Traffic Patterns</p>
          <v-row row class="px-4 my-3">
            <v-col cols="4" xs12 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Hourly Traffic</v-card-title>
                <br />
                <v-card-text>
                  <rtp-hourlychart :dashboard="baseDatasetDashboard" :height="270"></rtp-hourlychart>
                </v-card-text>
              </div>
            </v-col>
            <v-col cols="4" xs12 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Daily Traffic</v-card-title>
                <br />
                <v-card-text>
                  <rtp-barchart :dashboard="baseDatasetDashboard" :height="270"></rtp-barchart>
                </v-card-text>
              </div>
            </v-col>

            <v-col cols="4" xs12 class="px-4">
              <div :height="400" class="px-4 outlined">
                <v-card-title>Weekly Traffic</v-card-title>
                <br />
                <v-card-text>
                  <rtp-linechart :dashboard="baseDatasetDashboard" :height="270"></rtp-linechart>
                </v-card-text>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <div min-height="209" class="outlined mx-5">
                <v-card-title>Dwell Time</v-card-title>
                <v-card-subtitle>Average Dwell Time in seconds</v-card-subtitle>
                <v-divider></v-divider>
                <v-card-text class="text-center">
                  <span class="display-1 pt-4">{{baseDatasetDashboard.dwell_avg}}</span>
                  <br />seconds
                </v-card-text>
              </div>
            </v-col>
          </v-row>
        </div>
      </div>
      <div v-else></div>

      <div v-if="showComparisionDataset">
        <div
          v-for="(compareSet, index) in comparisionDatasets"
          :key="`${index}-abc`"
          class="grey lighten-3 py-3 my-8"
        >
          <div
            class="text-right"
            v-if="compareSet.dashboard.asset_locator && compareSet.dashboard.assets "
          >
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  small
                  class="mx-4"
                  color="error"
                  outlined
                  v-on="on"
                  @click="removeComparisionDataset(index)"
                >
                  Remove
                  <!-- <v-icon>remove</v-icon> -->
                </v-btn>
              </template>
              <span>Remove this comparison</span>
            </v-tooltip>
          </div>

          <div v-if="compareSet.dashboard.asset_locator && compareSet.dashboard.assets ">
            <p class="headline px-5 pt-3">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <span v-on="on">{{compareSet.name}}</span>
                </template>
                <span>
                  <span
                    v-for="(names, index) in compareSet.locationNames"
                    :key="index"
                  >{{names.length > 1 ? index +1 : '' }}. {{names.length > 1 ? names : ''}}</span>
                </span>
              </v-tooltip>
            </p>
            <div class="ml-5">
              <span class="mr-3">
                <v-icon small class="mr-2">fas fa-map-marker-alt</v-icon>
                {{compareSet.dashboard.totals.locations}} Stores
              </span>
              <span>
                <v-icon small class="mr-2">fas fa-tablet d-inline</v-icon>
                {{compareSet.dashboard.totals.assets}} Assets
              </span>
            </div>

            <div>
              <v-card-text>
                <p class="headline px-5 pt-3">Assets</p>
                <v-row>
                  <v-col cols="6" class="body-2">
                    <div app :height="300" class="pa-3 mx-auto outlined" width="100%">
                      <div style="height: 65px;">
                        <p class="mb-0 body-2 font-weight-bold">Asset Locator</p>
                      </div>
                      <div>
                        <asset-locator :dashboard="compareSet.dashboard"></asset-locator>
                      </div>
                    </div>
                  </v-col>
                  <v-col cols="6">
                    <div app :height="300" class="pa-3 mx-auto outlined" width="100%">
                      <div style="height: 65px;">
                        <p class="mb-0 body-2 font-weight-bold">Asset Status</p>
                      </div>
                      <div>
                        <asset-status :dashboard="compareSet.dashboard"></asset-status>
                      </div>
                    </div>
                  </v-col>
                </v-row>
              </v-card-text>
            </div>
          </div>

          <div
            class="mt-2 pt-4 grey lighten-3"
            v-if="compareSet.dashboard.hourly && compareSet.dashboard.daily && compareSet.dashboard.weekly "
          >
            <p class="headline px-5 pt-3">Traffic Patterns</p>
            <v-row row class="px-4 my-3">
              <v-col cols="4" xs12 class="px-4">
                <div :height="400" class="px-4 outlined">
                  <v-card-title>Hourly Traffic</v-card-title>
                  <br />
                  <v-card-text>
                    <rtp-hourlychart :dashboard="compareSet.dashboard" :height="270"></rtp-hourlychart>
                  </v-card-text>
                </div>
              </v-col>
              <v-col cols="4" xs12 class="px-4">
                <div :height="400" class="px-4 outlined">
                  <v-card-title>Daily Traffic</v-card-title>
                  <br />
                  <v-card-text>
                    <rtp-barchart :dashboard="compareSet.dashboard" :height="270"></rtp-barchart>
                  </v-card-text>
                </div>
              </v-col>

              <v-col cols="4" xs12 class="px-4">
                <div :height="400" class="px-4 outlined">
                  <v-card-title>Weekly Traffic</v-card-title>
                  <br />
                  <v-card-text>
                    <rtp-linechart :dashboard="compareSet.dashboard" :height="270"></rtp-linechart>
                  </v-card-text>
                </div>
              </v-col>
            </v-row>
          </div>

          <div class="mt-4 grey lighten-3">
            <div width="100%" class="mx-auto mt-4 grey lighten-3 outlined">
              <v-card-text>
                <v-row>
                  <v-col
                    cols="12"
                    :min-height="675"
                    class="pl-3"
                    v-if="compareSet.dashboard.campaign_summary"
                  >
                    <div>
                      <p class="headline px-5 pt-6">Campaigns</p>

                      <v-data-table
                        :headers="campaignHeaders"
                        :items="compareSet.dashboard.campaign_summary"
                        :footer-props="{
                  'items-per-page-options': [10, 20, 30, 40, 50]
                }"
                        :items-per-page="10"
                      >
                        <template v-slot:body="{ items }">
                          <tbody>
                            <tr v-for="(i, index) in items" :key="index">
                              <td>{{i.name}}</td>
                              <!-- <td class="text-center">{{i.start_date}}</td>
                              <td class="text-center">{{i.end_date}}</td>-->
                              <td class="text-center">{{i.content_type}}</td>
                              <td class="text-center">{{i.avg_run_time}}</td>
                              <td class="text-center">{{i.dwell_time}}</td>
                            </tr>
                          </tbody>
                        </template>
                      </v-data-table>
                    </div>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col
                    cols="12"
                    :min-height="675"
                    class="pl-3"
                    v-if="compareSet.salesData.length > 0"
                  >
                    <div>
                      <p class="headline px-5 pt-6">Sales Data</p>

                      <v-data-table
                        :headers="salesHeaders"
                        :items="compareSet.salesData"
                        :footer-props="{
                  'items-per-page-options': [3, 8, 10, 25, 50]
                }"
                        :items-per-page="3"
                      >
                        <template v-slot:body="{ items }">
                          <tbody>
                            <template v-for="(i, index) in items">
                              <tr :key="index" class="grey lighten-4">
                                <td class="text-center">
                                  <strong>{{i.product_name}}</strong>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr v-for="j in i.sales" :key="(index, j.id)" class="grey lighten-5">
                                <td></td>
                                <td class="text-center">{{j.year}} / {{j.month}}</td>
                                <td class="text-center">{{j.qty_sold}}</td>
                                <td class="text-center">{{j.yearly_percentage_change}}</td>
                                <td class="text-center">{{j.monthly_percentage_change}}</td>
                              </tr>
                            </template>
                          </tbody>
                        </template>
                      </v-data-table>
                    </div>
                  </v-col>
                  <v-col v-else>
                    <p class="title px-5 pt-6 grey--text">No available sales data</p>
                  </v-col>
                </v-row>

                <p
                  v-if="baseDatasetDashboard.dwell_avg && compareSet.dashboard.dwell_avg"
                  class="headline px-5 pt-6"
                >Dwell Time</p>
                <v-row>
                  <v-col
                    cols="6"
                    v-if="baseDatasetDashboard.dwell_avg && compareSet.dashboard.dwell_avg"
                  >
                    <div min-height="209" class="outlined mr-5">
                      <v-card-title>Base Data</v-card-title>
                      <!-- <v-card-title>{{baseDataText}}</v-card-title> -->
                      <v-card-subtitle>Average Dwell Time in seconds</v-card-subtitle>
                      <v-divider></v-divider>
                      <v-card-text class="text-center">
                        <span class="display-1 pt-4">{{baseDatasetDashboard.dwell_avg}}</span>
                        <br />seconds
                      </v-card-text>
                    </div>
                  </v-col>
                  <v-col cols="6" v-if="compareSet.dashboard.dwell_avg">
                    <div min-height="209" class="outlined">
                      <v-card-title>{{compareSet.name}}</v-card-title>
                      <v-card-subtitle>Average Dwell Time in seconds</v-card-subtitle>
                      <v-divider></v-divider>
                      <v-card-text class="text-center">
                        <span class="display-1 pt-4">{{compareSet.dashboard.dwell_avg}}</span>
                        <br />seconds
                      </v-card-text>
                    </div>
                  </v-col>
                </v-row>
              </v-card-text>
            </div>
          </div>
        </div>
      </div>
      <div v-else></div>
    </div>

    <!-- </div> -->
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutation } from 'vuex'
import moment from 'moment'
import pdfhelper from './export.js'

// Charts
import AssetLocator from './Charts/Asset Locator/component.assetLocator'
import AssetStatus from './Charts/Asset Status/component.assetStatus'

import RtpLinechart from './Charts/Regional Traffic Patterns/line_chart.RTP'
import RtpBarchart from './Charts/Regional Traffic Patterns/bar_chart.RTP'
import RtpHourlychart from './Charts/Regional Traffic Patterns/hourly_chart.RTP'

export default {
  name: 'Compare',
  data () {
    return {
      datemenu: false,
      dates: Array,

      baseRegionSelected: false,

      locationGroupmenu: false,
      locationMenu: false,
      locationGroup: false,

      region: '',
      regions: [{ name: '', id: 1, menu: false, locations: [], dashboard: {} }],
      selectedRegions: [],

      selectedRegion: '',

      campaignHeaders: [
        { text: 'Name', value: 'name' },
        // { text: 'Start Date', value: 'start_date', align: 'center' },
        // { text: 'End Date', value: 'end_date', align: 'center' },
        { text: 'Content', value: 'content_type', align: 'center' },
        {
          text: 'Average Runtime',
          value: 'avg_run_time',
          align: 'center',
          sortable: false
        },
        {
          text: 'Dwell Time',
          value: 'dwell_time',
          align: 'center',
          sortable: false
        }
      ],
      salesHeaders: [
        {
          text: 'Product',
          value: 'product_name',
          align: 'center',
          width: '205'
        },
        { text: 'Year / Month', value: 'date', align: 'center' },
        { text: 'Quantity Sold', value: 'qty_sold', align: 'center' },
        {
          text: '% change (previous year)',
          value: 'yearly_percentage_change',
          align: 'center'
        },
        {
          text: '% change (previous month)',
          value: 'monthly_percentage_change',
          align: 'center'
        }
      ],

      showBaseDataset: false,
      showComparisionDataset: false,

      selectedLocations: [],
      baseDataInfo: {
        name: [],
        id: [],
        regions: [],
        text: ''
      },
      baseDatasetDashboard: {},
      compare: [
        {
          selectedLocations: [],
          locationGroupmenu: false,
          locationMenu: false,
          locationGroup: false,
          locationNames: []
        }
      ],
      provinces: [
        // { name: 'National', id: 1 },
        { name: 'British Columbia', id: 2, locations: [] },
        { name: 'Saskatchewan', id: 3, locations: [] },
        { name: 'Newfoundland and Labrador', id: 4, locations: [] },
        { name: 'Alberta', id: 5, locations: [] }
      ],

      selectedDeviceLocation: '',
      selectedLocationGroup: '',

      comparisionDatasets: []
    }
  },

  components: {
    AssetLocator,
    AssetStatus,
    RtpLinechart,
    RtpBarchart,
    RtpHourlychart
  },

  async mounted () {
    this.spinner(true)
    this.dates = ['2019-11-01', '2019-12-31']
    for (let [index, region] of this.provinces.entries()) {
      try {
        let value = {
          group_by: 'province',
          group_name: region.name,
          business_uuid: this.activeBusiness.uuid
        }
        await this.fetchGroupedLocations(value)
        this.$root.displayAll = true
        this.provinces[index].locations = [...this.groupedLocations]
      } catch (error) {
        console.log(error)
        this.$root.displayAll = false
        this.snackbar({ text: error.response.data.msg })
      }
    }
    this.spinner(false)
  },

  methods: {
    ...mapActions({
      fetchBaseData: 'dashboard/GetBaseDataSummary',
      fetchComparisionData: 'dashboard/GetComparisionDataSummary',
      fetchGroupedLocations: 'locations/GetLocations',
      fetchSalesData: 'dashboard/GetSalesForManyLocations'
    }),

    getCheckboxStatus (locationGroup) {
      let returnValue = true
      locationGroup.locations.forEach(i => {
        if (!this.selectedLocations.includes(i.id)) {
          returnValue = false
        }
      })
      return returnValue
    },

    async selectLocationGroup (data) {
      console.log(data)
      if (!data.selectedAll) {
        data.locations.forEach(i => {
          if (!this.selectedLocations.includes(i.id)) {
            this.selectedLocations.push(i.id)
            // this.baseDataInfo.name.push(i.name)
          }
        })
        data.selectedAll = true
      } else {
        data.locations.forEach(i => {
          if (this.selectedLocations.includes(i.id)) {
            this.selectedLocations.splice(
              this.selectedLocations.indexOf(i.id),
              1
            )
          }
        })
        data.selectedAll = false
      }
    },

    async selectLocation (data, region) {
      console.log(region)
      if (this.selectedLocations.includes(data.id)) {
        this.selectedLocations.splice(
          this.selectedLocations.indexOf(data.id),
          1
        )
      } else {
        this.selectedLocations.push(data.id)
        if (!this.baseDataInfo.regions.includes(region.name)) {
          // this.baseDataInfo.regions.push(region.name)
        }
      }
    },

    getCheckboxStatus2 (locationGroup, index) {
      let returnValue = true
      locationGroup.locations.forEach(i => {
        if (!this.compare[index].selectedLocations.includes(i.id)) {
          returnValue = false
        }
      })
      return returnValue
    },

    async selectLocationGroup2 (data, index) {
      if (!data.selectedAll) {
        data.locations.forEach(i => {
          if (!this.compare[index].selectedLocations.includes(i.id)) {
            this.compare[index].selectedLocations.push(i.id)
            this.compare[index].locationNames.push(i.name)
          }
        })
        data.selectedAll = true
      } else {
        data.locations.forEach(i => {
          if (this.compare[index].selectedLocations.includes(i.id)) {
            this.compare[index].selectedLocations.splice(
              this.compare[index].selectedLocations.indexOf(i.id),
              1
            )
            this.compare[index].locationNames.splice(
              this.compare[index].selectedLocations.indexOf(i.id),
              1
            )
          }
        })
        data.selectedAll = false
      }
    },

    async selectLocation2 (data, location, index) {
      if (this.compare[index].selectedLocations.includes(data.id)) {
        this.compare[index].selectedLocations.splice(
          this.compare[index].selectedLocations.indexOf(data.id),
          1
        )
        this.compare[index].locationNames.splice(
          this.compare[index].locationNames.indexOf(data.name),
          1
        )
      } else {
        this.compare[index].selectedLocations.push(data.id)
        this.compare[index].locationNames.push(data.name)
      }
    },

    async closeBaseDatasetMenu () {
      if (this.selectedLocations.length !== 0) {
        this.locationMenu = false
        await this.selectBaseRegion()
      } else {
        this.snackbar({ text: 'Please make a selection' })
      }
    },

    async dateRangeSelect () {
      this.showBaseDataset = false
      this.showComparisionDataset = false
      this.dates = this.dates.length === 0 ? [this.currentDay] : this.dates
      this.datemenu = false
      if (this.selectedLocations.length !== 0) {
        this.showBaseDataset = false
        console.log('making base data change')
        await this.selectBaseRegion()
        this.showBaseDataset = true
      }

      for (let v of this.comparisionDatasets) {
        this.showComparisionDataset = false

        this.spinner(true)
        console.log(v)
        if (v.locations.length !== 0) {
          console.log('fetching')
          let locations = v.locations
          let value = {
            startDate: this.dates[0],
            endDate: this.dates.length > 1 ? this.dates[1] : this.dates[0],
            data: {
              location_ids: locations,
              business_uuid: this.activeBusiness.uuid
            }
          }
          try {
            await this.fetchComparisionData(value)
            Object.assign(v.dashboard, this.comparisionData)
          } catch (error) {
            this.spinner(false)

            console.log(error)
            this.snackbar({ text: error.response.data.msg })
          }
          try {
            let payload = await this.fetchSalesData(value)
            v.salesData = payload
          } catch (error) {
            this.spinner(false)
            console.log(error)
            this.snackbar({ text: error.response.data.msg })
          }
        }
      }
      this.spinner(false)

      this.showBaseDataset = true
      this.showComparisionDataset = true

      return true
    },

    async selectBaseRegion () {
      this.spinner(true)
      if (this.selectedLocations.length !== 0) {
        this.showBaseDataset = false
        //   this.comparisionDatasets = []
        let locationIds = this.selectedLocations
        let value = {
          startDate: this.dates[0],
          endDate: this.dates.length > 1 ? this.dates[1] : this.dates[0],
          data: {
            location_ids: locationIds,
            business_uuid: this.activeBusiness.uuid
          }
        }
        try {
          await this.fetchBaseData(value)
          this.baseDatasetDashboard.dwell_avg = 0
          Object.assign(this.baseDatasetDashboard, this.baseData)
          this.baseRegionSelected = true
        } catch (error) {
          console.log(error)
          this.snackbar({ text: error.response.data.msg })
        }

        // for (let v of this.comparisionDatasets) {
        //   if (v.length !== 0) {
        //     //   this.showBaseDataset = false
        //     Object.assign(v.dashboard, this.baseDatasetDashboard)
        //     v.locations = this.selectedLocations
        //     //   this.showBaseDataset = true
        //   }
        // }
        this.showBaseDataset = true
      } else {
        this.snackbar({ text: 'Please make a selection' })
      }
      this.spinner(false)
    },

    async makeComparision (compare, i) {
      this.spinner(true)

      this.compare[i].locationMenu = false
      //   for (let [i, v] of this.compare.entries()) {
      let showDashboard = Boolean
      let index = this.comparisionDatasets.length + 1
      for (let [i, v] of this.compare.entries()) {
        if (v.selectedLocations.length !== 0) {
          // let a = []
          let comparisionName
          comparisionName =
            `${v.locationNames[0]}` +
            (v.locationNames.length > 1
              ? `... + ${v.locationNames.length - 1} other`
              : ``)

          this.comparisionDatasets.push({
            name: comparisionName,
            id: index,
            locations: v.selectedLocations,
            dashboard: {},
            locationNames: v.locationNames,
            salesData: []
          })

          let value = {
            startDate: this.dates[0],
            endDate: this.dates.length > 1 ? this.dates[1] : this.dates[0],
            data: {
              location_ids: v.selectedLocations,
              business_uuid: this.activeBusiness.uuid
            }
          }
          try {
            await this.fetchComparisionData(value)
            Object.assign(
              this.comparisionDatasets[this.comparisionDatasets.length - 1]
                .dashboard,
              this.comparisionData
            )
            showDashboard = true
            this.snackbar({ text: 'Comparision data added' })
          } catch (error) {
            console.log(error)
            showDashboard = false
            this.snackbar({ text: error.response.data.msg })
          }
          try {
            let payload = await this.fetchSalesData(value)
            // eslint-disable-next-line standard/computed-property-even-spacing
            this.comparisionDatasets[
              this.comparisionDatasets.length - 1
            ].salesData = [...payload]
          } catch (error) {
            console.log(error)
            this.snackbar({ text: error.response.data.msg })
          }
          v.selectedLocations = []
          v.locationNames = []
          // this.comparisionDatasets.push(a)
          console.log(this.comparisionDatasets)
        }
      }
      this.showComparisionDataset = showDashboard

      this.spinner(false)
    },

    removeComparisionDataset (index) {
      this.comparisionDatasets.splice(index, 1)
      this.snackbar({ text: `Removed` })
    },

    async exportAsPdf () {
      const pdfFile = this.$refs.export
      console.log(pdfFile)
      this.spinner(true)
      this.snackbar({ text: 'Exporting dashboard as pdf file' })
      try {
        await pdfhelper.toPDFWithDiv(pdfFile, `comparsion_dashboard`)
      } catch (error) {
        console.log(error)
      }
      this.spinner(false)
    }
  },

  computed: {
    ...mapGetters({
      activeBusiness: 'auth/activeBusiness',
      groupedLocations: 'locations/locations',
      baseData: 'dashboard/baseData',
      comparisionData: 'dashboard/comparisionData',
      salesData: 'dashboard/salesForManyLocations'
    }),
    dateRangeText () {
      if (this.dates.length > 1) {
        return this.dates.join(' to ')
      }
      return this.dates[0]
    },
    date () {
      // const d = new Date()
      const fullDate = moment().format(`ddd, MMM DD @ hh:mm a`)
      return fullDate
    },
    getRegionsTextData () {
      let data = {}
      let selectedLocations = this.selectedLocations
      this.provinces.forEach(province => {
        data[province.name] =
          province.locations.length > 0
            ? province.locations.filter(provinceLoc =>
              selectedLocations.find(
                selectedLocation => selectedLocation === provinceLoc.id
              )
            )
            : []
      })

      return data
    },

    getComparisionRegionsTextData () {
      let data = {}
      let selectedLocations = this.compare[0].selectedLocations
      this.provinces.forEach(province => {
        data[province.name] =
          province.locations.length > 0
            ? province.locations.filter(provinceLoc =>
              selectedLocations.find(
                selectedLocation => selectedLocation === provinceLoc.id
              )
            )
            : []
      })
      return data
    },

    baseDataText () {
      let a = ''
      let b = ''
      let c = ''
      let d = ''

      if (this.getRegionsTextData) {
        if (this.getRegionsTextData['Alberta'].length > 0) {
          a = `Alberta (${this.getRegionsTextData['Alberta'].length} location) `
        }

        if (this.getRegionsTextData['British Columbia'].length > 0) {
          b = `British Columbia (${this.getRegionsTextData['British Columbia'].length} location) `
        }

        if (this.getRegionsTextData['Newfoundland and Labrador'].length > 0) {
          c = `Newfoundland and Labrador (${this.getRegionsTextData['Newfoundland and Labrador'].length} location) `
        }

        if (this.getRegionsTextData['Saskatchewan'].length > 0) {
          d = `Saskatchewan (${this.getRegionsTextData['Saskatchewan'].length} location) `
        }
      }
      let name = a + b + c + d
      return name
    },

    compareDataText () {
      let a = ''
      let b = ''
      let c = ''
      let d = ''

      if (this.getComparisionRegionsTextData) {
        if (this.getComparisionRegionsTextData['Alberta'].length > 0) {
          a = `Alberta (${this.getComparisionRegionsTextData['Alberta'].length} location) `
        }

        if (this.getComparisionRegionsTextData['British Columbia'].length > 0) {
          b = `British Columbia (${this.getComparisionRegionsTextData['British Columbia'].length} location) `
        }

        if (
          this.getComparisionRegionsTextData['Newfoundland and Labrador']
            .length > 0
        ) {
          c = `Newfoundland and Labrador (${this.getComparisionRegionsTextData['Newfoundland and Labrador'].length} location) `
        }

        if (this.getComparisionRegionsTextData['Saskatchewan'].length > 0) {
          d = `Saskatchewan (${this.getComparisionRegionsTextData['Saskatchewan'].length} location) `
        }
      }

      let name = a + b + c + d
      return name
    }
  }
}
</script>

<style>
.outlined {
  background-color: #fff;
}
</style>
