<template>
  <div>

    <v-row>
      <v-col cols="6">
      <div class="mt-4 ml-3">
      <v-row>
        <v-col class="pt-0 text-right" cols="2">
          <span class="rightColor"></span>
        </v-col>
        <v-col class="pt-0">
          <span class="d-inline">Right Match</span>
          <div class="countPercentage">
            <!-- <v-list-item-title class="d-inline-block">65 (79%)</v-list-item-title> -->
            <v-list-item-title class="d-inline-block">{{this.asset_locator.right_match ? this.asset_locator.right_match : 0}} ({{this.asset_locator.right_match_percentage ? this.asset_locator.right_match_percentage : 0}}%)</v-list-item-title>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pt-0 text-right" cols="2">
          <span class="wrongColor"></span>
        </v-col>
        <v-col class="pt-0" >
          <span class="d-inline">Wrong Match</span>
          <div class="countPercentage">
            <!-- <v-list-item-title class="d-inline-block">17 (21%)</v-list-item-title> -->
            <v-list-item-title class="d-inline-block">{{this.asset_locator.wrong_match ? this.asset_locator.wrong_match: 0}} ({{this.asset_locator.wrong_match_percentage ? this.asset_locator.wrong_match_percentage: 0}}%)</v-list-item-title>
          </div>
        </v-col>
      </v-row>
    </div>
    </v-col>
    <v-col cols="6">
      <asset-locator :height="180"></asset-locator>
    </v-col>
    </v-row>
  </div>
</template>

<script>
import AssetLocator from './chart.assetLocator'
import { mapGetters } from 'vuex'

export default {
  components: {
    AssetLocator
  },
  mounted () {},
  computed: {
    ...mapGetters({
      asset_locator: 'dashboard/asset_locations'
    })
  }
}
</script>

<style>
.countPercentage {
  color: #5c5c5c;
  margin: 0 0 0 40px;
  padding: 0;
}
.rightColor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 10px;
  /* margin: 0 15px -2px 10px; */
  background-color: #84cc5b;
  display: inline-block;
}
.wrongColor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  /* margin: 0 15px -2px 10px; */
  background-color: #ea7373;
  display: inline-block;
}
</style>
